.buttonMenu {
  background-color: white;
  /* padding: 10px; */
  border-radius: 10px;
  height: 60px;
  width: 80px;
  color: "#424242";
  display: flex;
  justify-content: center;
  align-items: center;
}

.accessAnywhere {
  color: "#989898";
  font-size: 2em;
  position: absolute;
  top: 10px;
  left: 20px;
}

.saldo {
  font-size: 1.4em;
  color: "#989898";
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.select-active {
  background-color: antiquewhite;
}
