.buttonMenu {
  background-color: white;
  /* padding: 10px; */
  border-radius: 10px;
  height: 60px;
  width: 80px;
  color: "#424242";
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonMenudua {
  background-color: "#989898";
  padding: 25px 0;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  color: "#424242";
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.accessAnywhere {
  color: "#989898";
  font-size: 2em;
  position: absolute;
  top: 10px;
  left: 20px;
}

.saldo {
  font-size: 1.4em;
  color: "#989898";
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.select-active {
  background-color: antiquewhite;
}

#jumlahSetoran,
#uangRusak {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  border: "2.5px solid #A2C37F";
}

@media (max-width: 768px) {
  .buttonMenu {
    border-radius: 8px;
    height: 58px;
    width: 62px;
  }

  #jumlahSetoran {
    margin: 8px 0;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    border: "2px solid #A2C37F";
  }
}

@media (max-width: 451px) {
  .buttonMenu {
    border-radius: 8px;
    height: 40px;
    width: 50px;
  }
}
